@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Orbitron:wght@400..900&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #3498db;
    --secondary-color: #2980b9;
    --text-color: #ecf0f1;
    --text-secondary-color: #000f1f;
    --background-color: #34495e; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.959);
    overflow: hidden;
}

.numbers {
    position: absolute;
    font-size: 80px;
    color: rgb(0, 255, 170);
    font-family: "Orbitron", sans-serif;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.inputs {
    position: absolute;
    top: 75%;
    left: -900px;
    transition: 0.5s;
}

.inputs.ativo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
    transition: 0.5s;
}
.inputs input {
    border-radius: 2px;
    color: #ffffff;
    background-color:  transparent;
    border:  1px solid  rgb(12, 176, 252) ;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
    height: 4.5vh;
    width: 9vw;
    text-align: center;
}


.buttons-content {
    position: absolute;
    top: 60%;
    left: 42%;
}

.buttons-content  button {
    height: 5vh;
    width: 3vw;
    border-radius: 6px;
    background-color: rgb(12, 176, 252);
    border: none;
    align-items: center;
}

.btn-group {
    position: absolute;
    top: 60%;
    left: 55.3%;
    
}


.btn-group {
    height: 5vh;
    width: 3vw;
    border-radius: 6px;
    background-color: rgb(12, 176, 252);
    border: none;
}

.btn-group:hover {
    opacity: 0.8;
}
 

.buttons-content button:hover {
    opacity: 0.8;
}

.buttons-content-sw {
    position: absolute;
    top: 60%;
    left: 45%;
}



.buttons-content-sw button {
    height: 5vh;
    width: 3vw;
    border-radius: 6px;
    background-color: rgb(12, 176, 252);
    border: none;
    align-items: center;
}


.drop-down {
    z-index: 2;
}

.button-aside {
    position: fixed;
    left: 98%;
    top: 45%;
    transform: translateX(-50%);
    z-index: 6;
    background-color: rgb(0, 255, 170);
    color: #000000;
    border: none;
    height: 11vh;
    width: 2vw;
    border-radius: 20px;
    transition:  all 0.5s ease;
    text-align: center;
}

.button-aside:hover {
    background-color: transparent;
    color: #ecf0f1;
    border: 2px solid rgb(0, 255, 170);
    transition: 0.5s;
}


.button-aside.ativo {
    left: 74%;
    rotate: 180deg;
}

.historic-aside {
    position: fixed;
    left: 1400px;
    top: 15%;
    transition:  all 0.5s ease;
}

.historic-aside.ativo {
    position: absolute;
    top: 15%;
    left: 78%;
    border: 2px solid rgba(22, 181, 255, 0.596);
    border-radius: 20px;
    border-top-width: 100%;
    height: 80vh;
}

.historic-aside.ativo h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: rgb(0, 255, 170);
    text-align: center;
    margin: 30px 20px;
}
 
.historic-aside.ativo ul {
    color: #ecf0f1;
    font-family: "Orbitron", sans-serif;
    margin: 30px 20px;
}

.clear-history {
    position: fixed;
    left: 1400px;
    top: 90%;
    border-radius: 20px;
    background-color: transparent;
    color: rgb(0, 255, 170);
    border: none;
    transition:  all 0.5s ease;
}

.clear-history.ativo {
    left: 88.1%;
}


.clear-history:hover {
   opacity: 0.6;
}

.piscar {
    animation: piscarTela 1s infinite;
  }
  
  @keyframes piscarTela {
    0%   { background-color: rgb(0, 116, 87); }
    50%  { background-color: #0b2931; }
    100% { background-color: rgb(0, 116, 87); }
  }

.nav-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s ease;
}
 
.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px ;
}

.menu-lateral ul li {
    padding: 15px 30px;
}

.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i {
    font-size: 24px;
}

.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
}

.menu-lateral ul li a i:hover {
    transform: translateX(5px) rotate(5deg);
}

.botao-menu {
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--text-color);
    transition:  all 0.5s ease;
}

.botao-menu:hover {
    background-color: var(--secondary-color);
}

.botao-menu.ativo {
    left: 320px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.background.ativo {
    opacity: 1;
    visibility: visible;
}

 